body {
    font-family: 'Open Sans', sans-serif;
    background: rgb(236, 204, 181);
    color: rgb(167, 93, 48);
}

.container {
    max-width: 1140px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Caveat', cursive;
}
main .container figure figcaption{
    color:rgb(66, 24, 8);
    font-size: 0.8em;
    font-style: italic;
}
#more {
    display: none;
}
main .container button{
    background: rgb(66, 24, 8);
    border: none;
    color: rgb(236, 204, 181);
    transition: 500ms;
    box-shadow: 0px 10px 13px -7px #000000, 50px 50px 50px 50px rgba(0,0,0,0);

}
main .container button:hover{
    background: rgb(167, 93, 48);
    color: rgb(236, 204, 181);
}