body {
    font-family: 'Open Sans', sans-serif;
    background: rgb(236, 204, 181);
}

.container {
    max-width: 1140px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Caveat', cursive;
}

.slides {
    min-height: 90vh;
    background-position: center;
    background-size: cover;
}
.slides h2{
    color:rgb(236, 204, 181);
    font-weight: bold;
}
.slides .carousel .carousel-item .image {
    min-height: 95vh;
    background-position: center;
    background-size: cover;
}

.slides .carousel .carousel-item .carousel-caption {
    background:  rgba(66, 24, 8, 0.721);
    width: 500px;
    margin: 0 auto;
    padding: 12px;
}

main .container .row aside {
    background: white;
    min-height: 200px;
    border-radius: 20px;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}
main .row aside .keeper{
    min-height: 600px;
}
main .row aside .boxes2{
    min-height: inherit;
}
main .row aside .boxes2 h3{
font-size: 2em;
}
main .container .row aside h4 {
    color: rgb(236, 204, 181);
    background: rgb(66, 24, 8);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    font-size: 1.7em;
}

main .container .row .box{
    color: rgb(167, 93, 48);
}
main .container .row .box a {
    text-decoration: none;
    color:rgb(66, 24, 8);
    transition: 500ms;
    display: block;
}

main .container .row .box a:hover {
    color: rgb(167, 93, 48);
    transform: scale(1.1);
}

main .container .row aside a {
    color: rgb(167, 93, 48);
    transition: 500ms;
}

main .container .row aside a:hover {
    color: rgb(66, 24, 8);
    transform: scale(1.1);
}

main .container .row .box2 a {
    color: rgb(167, 93, 48);
    font-size: 1em;
    transition: 500ms;
    display: inline-block;
    text-decoration: none;
}

main .container .row .box2 a:hover {
    color: rgb(66, 24, 8);
    transform: scale(1.25);
}
main .container .row3 h4{
    color: rgb(66, 24, 8);
}
main .container .row3 p{
    color: rgb(167, 93, 48);
}
@media screen and (max-width:961px){
    main .container .row aside .keeper{
        min-height: 200px;
    }
   
}