body {
    font-family: 'Open Sans', sans-serif;
    background: rgb(236, 204, 181);
    color: rgb(167, 93, 48);
}

.container {
    max-width: 1140px;
}

h1,
h2,
h3,
h4,
h5{
    font-family: 'Caveat', cursive;
}
main .container button{
    background: rgb(66, 24, 8);
    font-family: 'Caveat', cursive;
    transition: 1000ms;
    font-size: 1.5em;
    box-shadow: 2px 5px 16px 0px #5e370b, 5px 5px 15px 5px rgba(0,0,0,0);
}
main .container button a{
    color: rgb(236, 204, 181);
}
main .container button:hover{
    background: rgb(167, 93, 48);
    transform: scale(1.2)
}